.list-item .product-style-03 .add-to-cart{
    background:#ff0b91;
}

.breadcrumb-area {
    background:#ff0b91;
}

.product-style-03 .content .content-price .new-price {

    color: #BC01A6;
}

.product-style-03 .content .title:hover {
    color:#BC01A6;
}


.btn-black {
background:#ff0b91;
border: #ff0b91 ;
}
.btn-collection {
background:#ff0b91;
}
.section-title-02 h3{
    color: #BC01A6;
}

.section-title-02 h6{
    color: #BC01A6;

}
.tranding-tab li a.active{
    background:#ff0b91;

}
.product-style-02 .thumb .new{
    background:#BC01A6;
}
.product-style-02 .content .content-hover-cart{
    background: #ff0b91;
}
.product-style-02 .content .content-price .new-price{
    color:#BC01A6;

}

.collection-tab li a.active {
    color: #BC01A6;
}
.collection-tab li a{
    color:#ff0b91
}
.fashion-slider h6{
    color:#BC01A6;
}
.fashion-slider h3{
    color:#BC01A6;

}
.nav-style-01 .nav-container .navbar-collapse .navbar-nav li a{
    color:#BC01A6;
}
.nav-right-part ul li a span.badge.badge-green {
    background: #ff0b91 !important;
}
.product-style-04 .content .title{
    color:#BC01A6;
}
.product-style-04 .clockdiv > div > span{
    color:#ff0b91;
}

.nav-right-part ul li a span.badge {
    background-color:#ff0b91;
}

.cart-content.cart-content-header {
    width: 176px;
}

.nav-right-part ul .has-dropdown ul input {
    width: auto;
}

.nav-right-part ul .has-dropdown ul input.my-product-quantity {
    width: 60px;
}

/*SINGLE PRODUCTS*/

.collection-area .content-part .product-title {
     color:#BC01A6;
     font-size: 42px;
   
}
.collection-area .content-part .price {
    font-size: 32px;
    color:#BC01A6;

}
.collection-area .content-part .specifications b{

    color:#BC01A6;

}

.collection-area .content-part .add-to-cart{
 
    color:aliceblue
}
.collection-area .content-part .add-to-cart{

    background: #ff0b91;
}
.collection-area .product-tab .nav-pills li a.active {
    border-color: #BC01A6;
    color: #BC01A6;
}
h1, h2, h3, h4, h5, h6 {
    color:#BC01A6;

}

.checkout-widget h4{
    color:#BC01A6;

}
/* margen de estrellas*/
.collection-area .content-part .rating i{
    margin-bottom: 20px;
}
/* comprar ahora botton*/
.collection-area .content-part .btn-buy {
    border: 1px solid #BC01A6;
}
/* carrito*/
.cart-content .left img{
    width: 120px;
}

.cart-content .btn-continue{
    background:#ff0b91;
}
.summary .total{
    background:#ff0b91;

}
.summary .btn-checkout {
    background:#ff0b91;
}
.summary label{
    color:#BC01A6;
}

.collection-area .content-part .add-to-cart
{
    font-size: 16px;
    line-height: 22px;
    border-radius: 0px;
    padding: 12px 136px;
    margin-left:0px;
}
