.list-item .product-style-03 .add-to-cart{
    background:#ff0b91;
}

.breadcrumb-area {
    background:#ff0b91;
}

.product-style-03 .content .content-price .new-price {

    color: #BC01A6;
}

.product-style-03 .content .title:hover {
    color:#BC01A6;
}


.btn-black {
background:#ff0b91;
border: #ff0b91 ;
}
.btn-collection {
background:#ff0b91;
}
.section-title-02 h3{
    color: #BC01A6;
}

.section-title-02 h6{
    color: #BC01A6;

}
.tranding-tab li a.active{
    background:#ff0b91;

}
.product-style-02 .thumb .new{
    background:#BC01A6;
}
.product-style-02 .content .content-hover-cart{
    background: #ff0b91;
}
.product-style-02 .content .content-price .new-price{
    color:#BC01A6;

}

.collection-tab li a.active {
    color: #BC01A6;
}
.collection-tab li a{
    color:#ff0b91
}
.fashion-slider h6{
    color:#BC01A6;
}
.fashion-slider h3{
    color:#BC01A6;

}
.nav-style-01 .nav-container .navbar-collapse .navbar-nav li a{
    color:#BC01A6;
}
.nav-right-part ul li a span.badge.badge-green {
    background: #ff0b91 !important;
}
.product-style-04 .content .title{
    color:#BC01A6;

}
.product-style-04 .clockdiv > div > span{
    color:#ff0b91

}